body{
    margin: 25 px;
    padding:25px 50px;
    background-color: #D6EAF8;
}

@font-face {
    font-family: peachy;
    src: url(./fontsResources/Peachy_Mochi.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: themeillion;
    src: url(./fontsResources/BodoniXT.ttf);
    font-weight: normal;
    font-style: normal;
}

.logo > img{
    display: flex !important;
    justify-content: end;
    margin: 0px;
}

.h1{
    font-family: peachy;
}

.title{
    font-family: themeillion;
    padding: 16px;
    background-color: #5DADE2;

}

img{
    display:block;
    margin:auto;
    padding-bottom: 5px;
    }

.form{
    margin-top:40px;
}


.footer{
    background-color:#85C1E9
}

.changeElement{
    background-color:#616A6B;
}

.colorLabel{

    color: #FFE900;
}

.changeColor{
    background-color:#FFE900 ;
}

.labelChangeColor{
    color: #616A6B;

}

.table{
    width: auto;
    margin-top:40px;
}